[submodule "DSInternals"]
	path = DSInternals
	url = https://github.com/MichaelGrafnetter/DSInternals.git
[submodule "sqlmap"]
	path = sqlmap
	url = https://github.com/sqlmapproject/sqlmap.git
[submodule "Snaffler"]
	path = Snaffler
	url = https://github.com/SnaffCon/Snaffler.git
